In [ ]:
# 556. What will be the output after the following statements?
x = 'Python Jobs' 
if x.lower() == 'python jobs':
    print('Python jobs') 
else: 
    print('python 3 jobs')

# a. python 3 jobs b. Python jobs c. Python Jobs d. python jobs 

# b

In [ ]:
# 557. What will be the output after the following statements?

x = 'Python Jobs' 
if x.isupper(): 
    print('Python jobs') 
else: 
    print('python 3 jobs')

# a. python 3 jobs b. Python jobs c. Python Jobs d. python jobs 
# a

In [ ]:
# 558. What will be the output after the following statements?

x = 'Python Jobs' 
y = x.upper().lower().upper() 
print(y)

# a. python Jobs b. PYTHON JOBS c. Python Jobs d. python jobs 
#b

In [ ]:
# 559. What will be the output after the following statements?

x = 'Python Jobs' 
y = x.upper().lower().isupper() 
print(y)

# a. python jobs b. PYTHON JOBS c. False d. True
# c

In [ ]:
# 560. What will be the output after the following statements?

x = ['Python', 'is', 'interesting'] 
y = ' '.join(x) 
print(y)

# a. 'Python', 'is', 'interesting' 
# b. Python is interesting 
# c. Pythonisinteresting 
# d. ['Python', 'is', 'interesting']

# b

In [ ]:
# 561. What will be the output after the following statements?

x = 'Python is interesting' 
y = x.split() 
print(y)

# a. 'Python', 'is', 'interesting' 
# b. Python is interesting 
# c. Pythonisinteresting 
# d. ['Python', 'is', 'interesting’] 

# d

In [ ]:
# 562. What will be the output after the following statements?

x = '''Today is a nice day. Let's go for a walk. We'll also go to the park.''' 
y = x.split('\n') 
print(y)

# a. ['Today is a nice day.', "Let's go for a walk.", "We'll also go to the park."] 
# b. Today is a nice day.
# c. Let's go for a walk. 
# d. We'll also go to the park.

# a

In [ ]:
# 563. What will be the output after the following statements?

x = 'Python 2 and Python 3' 
print( x.strip('and') )

# a. Python 2 b. Python 3 c. Python 2 and Python 3 d. Python 2 Python 3 

# c

In [ ]:
# 564. What will be the output after the following statements?

x = 'Python 2 and Python 3' 
print(x.strip('thon 3'))

# a. Python 2 b. Python 2 and Py c. Python 2 and Python 3 d. Python 2 Python 3

# b

In [ ]:
# 565. What is the first line of the following statements on Windows?

#! python3 x = 'Python 3’

# a. A comment b. Python String c. Shebang line d. Python Variable
# a

In [ ]:
# 566. What will be the output after the following statements?

import re
x = re.compile(r'\d\d\d-\d\d\d\d') 
y = x.search('The phone number is 444-4444') 
print(y.group())

# a. The phone number is 444-4444 b. \d\d\d-\d\d\d\d c. 444-4444 d. r'\d\d\d-\d\d\d\d’ 

# c

In [ ]:
# 567. What will be the output after the following statements?

import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(2))

# a. The phone number is 444-4444 b. 4444 c. 444-4444 d. 444 
# b

In [ ]:
# 568. What will be the output after the following statements?

import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(1))

# a. The phone number is 444-4444 b. 4444 c. 444-4444 d. 444
# d

In [ ]:
# 569. What will be the output after the following statements?

import re
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(0))

# a. The phone number is 444-4444 b. 4444 c. 444-4444 d. 444

# c

In [ ]:
# 570. What will be the output after the following statements?

import re
x = re.compile(r'(\d\d\d)-(\d\d\d\d)')
y = x.search('The phone number is 444-4444')
print(y.groups())

# a. ('444', '4444') b. 4444 c. 444-4444 d. 444

# a

In [ ]:
# 571. What will be the output after the following statements?
import re
x = re.compile(r'(\(\d\d\d\))-(\d\d\d\d)') 
y = x.search('The phone number is (444)-4444')
print(y.group(1))

# a. ('444', '4444') b. 444 c. 444-4444 d. (444) 

# d

In [ ]:
# 572. What will be the output after the following statements?

import re 
x = re.compile(r'Python 2|Python 3') 
y = x.search('Python 3 MCQ')
print(y.group())

# a. Python 2|Python 3 b. Python 2 c. Python 3 d. Python 3 MCQ 

# c

In [ ]:
# 573. What will be the output after the following statements?

import re 
x = re.compile(r'Python 2|Python 3')
y = x.search('Python 2.7') 
print(y.group())

# a. Python 2.7 b. Python 2 c. Python 3 d. Python 2|Python 3 

# b

In [ ]:
# 574. What will be the output after the following statements?

import re 

x = re.compile(r'day')
y = x.search('Today is a nice day and a Sunday') 
print(y.group())

# a. day b. Today c. nice day d. Sunday 

# a

In [ ]:
# 575. What will be the output after the following statements?

import re
x = re.compile(r'(Sun)?day')
y = x.search('Today is a nice day and a Sunday') 
print(y.group())

# a. day b. Today c. nice day d. Sunday
# a

In [13]:
# Algorithm Homework(#32)
# 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래
# 문제에 대한 프로그램을 작성하세요.
# 이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이
# 성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
# ① 김씨와 이씨는 각각 몇 명 인가요?
# ② "이재영"이란 이름이 몇 번 반복되나요?
# ③ 중복을 제거한 이름을 출력하세요.
# ④ 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요. 
#     names =
# "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최
# 승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
# ".split(",")


def find_fname(arr):
    kim_cont = 0;
    lee_cont = 0;
    for i in arr:
        if i[0]=="김":
            kim_cont +=1;
        elif i[0]=="이":
            lee_cont +=1;
    print(f"김씨는 {kim_cont}명, 이씨는 {lee_cont}명");

def find_name(arr, name):
    result = arr.count(name)
    return result;

def overlap_name(arr):
    result =[]
    for i in arr:
        cont = find_name(arr, i)
        if cont > 1:
            result.append(i)
    return result;

def sort_pr(arr):
    arr.sort()
    return arr

names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌";
arr = names.split(",");

find_fname(arr);
print( "이재영 중복 수", find_name(arr, "이재영") )
print( "중복된 이름들 : ", overlap_name(arr) )
print( "중복되 이름 정렬 : ", sort_pr( overlap_name(arr)) )

김씨는 2명, 이씨는 6명
이재영 중복 수 3
중복된 이름들 :  ['이유덕', '이재영', '이재영', '박민호', '이재영', '박민호', '전경헌', '이유덕', '전경헌']
중복되 이름 정렬 :  ['박민호', '박민호', '이유덕', '이유덕', '이재영', '이재영', '이재영', '전경헌', '전경헌']

['이유덕', '이재영', '이재영', '박민호', '이재영', '박민호', '전경헌', '이유덕', '전경헌']
['박민호', '박민호', '이유덕', '이유덕', '이재영', '이재영', '이재영', '전경헌', '전경헌']