<a href="https://colab.research.google.com/github/runarell/ai/blob/main/26HW20220126%EC%9D%B4%EC%9E%AC%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 051
movie_rank = ['닥터 스트레인지','스플릿','러키'];

In [3]:
# 052
movie_rank = ['닥터 스트레인지','스플릿','러키'];
movie_rank.append('배트맨');
print(movie_rank);

['닥터 스트레인지', '스플릿', '러키', '배트맨']

In [4]:
# 053
movie_rank = ['닥터 스트레인지','스플릿','러키', '배트맨'];
movie_rank.insert(1, '슈퍼맨');
print(movie_rank);

['닥터 스트레인지', '슈퍼맨', '스플릿', '러키', '배트맨']

In [9]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '러키', '배트맨']
del movie_rank[3];
print(movie_rank);

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [11]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:];
print(movie_rank);

['닥터 스트레인지', '슈퍼맨']

In [12]:
# 056
lang1 = ["C","C++","jAVA"]; 
lang2 = ["Pytion","go","C#"];
langs = lang1 + lang2;
print(langs);

['C', 'C++', 'jAVA', 'Pytion', 'go', 'C#']

In [13]:
# 057
nums= [1,2,3,4,5,6,7];
max_num = max(nums);
min_num = min(nums);
print(f'nums의 최대값 {max_num}이고 최소값은 {min_num}이다');

nums의 최대값 7이고 최소값은 1이다

In [20]:
# 058
nums = [1,2,3,4,5];
nums_sum = sum(nums);
print(nums_sum);

15

In [35]:
# 059
cook = ["피자","김밥","만두","양념치킨","족발","피자","김치만두","쫄면","쏘세지","라면","밭빙수","김치전"]
cook_sum1 = len(cook);
cook_sum2 = len( set(cook) );
print(f'저장된 데이터 개수는 {cook_sum1}')
print(f'저장된 비중복 데이터 개수는 {cook_sum2}')

{'김치만두', '족발', '만두', '김밥', '피자', '양념치킨', '라면', '밭빙수', '김치전', '쏘세지', '쫄면'}
저장된 데이터 개수는 12
저장된 비중복 데이터 개수는 11

In [21]:
# 060

nums = [1,2,3,4,5];
nums_ave = sum(nums) / len(nums);
print(nums_ave);

3.0

In [24]:
# 121
text = input('>>');
if text.islower():
  text = text.upper();
print(text);

>>A
A

In [25]:
# 122
score = int( input('>>') );
lank = "";
if score > 80:
  lank = 'A'
elif score > 60:
  lank = 'B'
elif score > 40:
  lank = 'C'
elif score > 20:
  lank = 'D'
else :
  lank = 'E'
print(f'grade is {lank}');

>>90
grade is A

In [28]:
# 123
cu = input('>> 화패단위 입력 :');
money = int(input('>> 금액입력 :'));

rate = { '달라':1167,'엔':1.096, '유로':1268, '위안':171 };
inp_rate = rate[cu];

print(f'{inp_rate * money} 원');

>> 화패단위 입력 :달라
>> 금액입력 :100
116700 원

In [30]:
# 124
num1 = int(input('숫자1>>'));
num2 = int(input('숫자2>>'));
num3 = int(input('숫자3>>'));
max = ""
if num1 > num2 & num1 > num3:
  max = num1;
elif num2 > num3:
  max = num2;
else:
  max = num3;

print(f'가장 큰 숫자는 {max}입니다.');

숫자1>>5
숫자2>>3
숫자3>>7
가장 큰 숫자는 7입니다.

In [35]:
# 125
ph = input('휴대전화 번호 입력 : ');
my_na = ph[0:3];
na = { '011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음' };
print(f'당신은 { na[my_na] } 사용자입니다.');

휴대전화 번호 입력 : 0118883949
당신은 SKT 사용자입니다.

In [38]:
# 126
ps_num = input('>>우편번호: ');
my_area1 = ps_num[0:2];
my_area2 = ps_num[2];
ps_arae = {'0':'강북구','1':'강북구','2':'강북구','3':'도봉구','4':'도봉구','5':'도봉구','6':'노원구','7':'노원구','8':'노원구','9':'노원구'};
if my_area1 != '01':
  text = ' 강북구가 아닙니다.';
else:
  text = ps_arae[ my_area2 ];
print(text);

>>우편번호: 23553
 강북구가 아닙니다.

In [11]:
# 127
ssn = input('>>주민등록번호: ');
if ssn[6] == '1' or ssn[6] == '3':
  print('남자');
else:
  print('여자');

>>주민등록번호: 871012100000
남자

In [16]:
# 128
ssn = input('>>주민등록번호: ');
area_code = int(ssn[7:9]);
if area_code < 9:
  print('서울입니다.');
else:
  print('서울이 아닙니다.');

>>주민등록번호: 8710121066822
서울입니다.

In [30]:
# 129
ssn = input('>>주민등록번호: ');
ssn_arr =  list(map(int, ssn ));
sub_num = [2,3,4,5,6,7,8,9,2,3,4,5];
ssn_dis = ssn_arr[-1];
dis = 0;
sum = 0;

for i in range( len(ssn_arr) -1 ): 
  sum +=  ssn_arr[i] * sub_num[i];

if ssn_arr[-1] != (11 - sum%11):
  print( '유효하지 않은 주민등록번호입니다.' );
else:
  print('유효한 주민등록 번호입니다.');

>>주민등록번호: 8710121066822
유효한 주민등록 번호입니다.

In [33]:
# 130
import requests;
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data'];
opening_price = int(btc['opening_price']);   # 시가
closing_price = btc['closing_price'];   # 종가
min_price = int(btc['min_price']);      # 최저가
max_price = int(btc['max_price']);      # 최대가
fluc_range = max_price - min_price;     # 변동폭

# 시가 + 변동폭 > 최고가
if opening_price+fluc_range > max_price:
  print("상승장");
else:
  print("하락장");

상승장