In [ ]:
# 211
def funtion(st):
    print(st);
    
funtion("안녕"); # 안녕 출력
funtion("Hi");  # hi 출력

In [ ]:
# 212
def funt(a, b):
    print(a + b);
funt(3,4); # 7
funt(7,8); # 15

In [ ]:
# 213
def funt(str):
    print(str);
funt()

# 타입 에러 함수에 매개변수가 있지만 함수 호출시 인자를 전달하지 않음

In [ ]:
# 214
def funt(a,b):
    print(a+b);
funt("안녕", 3);
# 인자가 String 과 Int 인데 함수 내부에서 + 로 합하여 tyep 에러가 발생!

In [2]:
# 215
def print_with_smile(str):
    print(f"{str} :D");

123 :D

In [3]:
# 216
def print_with_smile(str):
    print(f"{str} :D");

print_with_smile("안녕하세요");

안녕하세요 :D

In [3]:
# 217
def print_upper_price(num):
#     result = num/100 * 30;
    result = num*1.3;
    return result;

a = print_upper_price(10000);
print (a);

# 상한가 = 130%

3000.0

In [5]:
# 218
def print_sum(a, b):
    print( a+ b );
print_sum(1,2);

3

In [8]:
# 219
def print_arithmetic_operation(num1, num2):
    print(f"{num1} + {num2} = {num1 + num2}");
    print(f"{num1} - {num2} = {num1 - num2}");
    print(f"{num1} * {num2} = {num1 * num2}");
    print(f"{num1} / {num2} = { (num1/num2): .2f}");
    
print_arithmetic_operation(3,9);

3 + 9 = 12
3 - 9 = -6
3 * 9 = 27
3 / 9 =  0.33

In [14]:
# 220
def print_max(n1, n2, n3):
    result = 0;
    if n1 > n2 and n1 > n3:
        result = n1;
    elif(n2 > n3):
        result = n2;
    else:
        result = n3;
    print(f"max : {result}");
print_max(5,10,5)

max : 10

In [30]:
# 221
def print_reverse(st):
    result = "";
    for i in range(-1, -len(st)-1, -1):
        result += st[i];
    print(result);

# 슬라이싱으로 역순 가능
# 역순 = st[::-1];
print_reverse("abcd");

dcba

In [31]:
# 222
def print_score(*agus):
    result = 0;
    for i in agus:
        result += i;
    print(f"{ result/ len(agus) }");
print_score(1,2,3);

2.0

In [32]:
# 223
def print_even(arr):
    for i in arr:
        if i%2 == 0:
            print(i);

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [35]:
# 224
def print_keys(dic):
#     for i in dic:
    for i in dic.keys():
        print( f"{i} \n" );
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름

나이

성별

In [36]:
# 225
my_dict = {
    "10/26" : [100, 130, 100, 100],
    "10/27" : [10, 12, 10, 11]
}
def print_value_by_key(dic, st):
    print(dic[st]);


print_value_by_key (my_dict, "10/26")

[100, 130, 100, 100]

In [71]:
# 226
# def print_5xn(st):
#     a = len(st)//5;
#     for i in range(0, a+1):
#         pr = st[i*5:(i+1)*5];
#         print(f"{pr} \n");

# print_5xn("아이엠어보이유알어걸")

def print_5xn(st):
    pr = "";
    for i, cher in enumerate(st):
        if i%5 == 0 and i != 0: pr+="\n\n"
        pr += cher;     
    
    print(f"{pr}");
print_5xn("아이엠어보이유알어걸")

아이엠어보

이유알어걸

jslak

d

In [72]:
# 227
def printmxn(st, num):
    pr = "";
    for i, cher in enumerate(st):
        if i%num == 0 and i != 0: pr+="\n\n"
        pr += cher;
    print(f"{pr}");

printmxn("아이엠어보이유알어걸", 3);

아이엠

어보이

유알어

걸

In [79]:
# 228
def calc_monthly_salary(an):
    mon_sa = int(an/120)*10
    print( mon_sa );

calc_monthly_salary(12045000);

1003750

In [80]:
# 229
def my_print(a, b):
    print("왼쪽 : ", a)
    
    print("오른쪽 : ", b)
    
my_print(a=100, b=200);

# 결과 
# 왼쪽 : 100
# 오른쪽 : 200
# 출력

왼쪽 :  100
오른쪽 :  200

In [81]:
# 230
def my_print(a, b):
    print("왼쪽 : ", a)
    
    print("오른쪽 : ", b)
    
my_print(b=100, a=200);

# 결과 
# 왼쪽 : 200
# 오른쪽 : 100
# 출력

왼쪽 :  200
오른쪽 :  100