In [ ]:
# 231
def n_puls_1(n):
    result = n+1;
n_puls_1(3);
print(result);
# result는 지역변수 // 변수 값이 없음으로 Name NameError

In [ ]:
# 232
def mark_url(addr):
    
    return f"www.{addr}.com"
print( mark_url("naver") )

In [ ]:
# 233

def mack_list(st):
    result = [];
    for i in st:
        result.append(i);
    return result;

print ( mack_list("abcd") );

In [ ]:
# 234
def pickup_even(arr):
    result = [];
    for i in arr:
        if i%2 == 0:
            result.append(i);
    return result;

pr = pickup_even([3, 4, 5, 6, 7, 8]);
print( pr );

In [ ]:
# 235

def convert_int(st):
    result = "".join(i for i in st if i not in "\,"); 
    return int( result );

pr = convert_int("1,234,567");
print(pr);

In [ ]:
# 236
def funt(num) :
     return num + 4

a = funt(10) # 14
b = funt(a)  # 18
c = funt(b)  # 22
print(c)

# 22 출력

In [ ]:
# 237
def funt(num):
    return num + 4;
c = funt( funt( funt(10)));
print(c);
# 22 출력

In [ ]:
# 238
def funt1(num):
    return num +4;
def funt2(num):
    return num *10;
a = funt1(10);  # 14
c = funt2(a);  # 140

print(c)
# 140 출력

In [ ]:
# 239
def funt1(num):
    return num + 4
def funt2(num):
    num = num + 2
    return funt1(num)
c = funt2(10); 
print(c)
# 16 출력

In [ ]:
# 240
def funt0(num):
    return num * 2

def funt1(num):
    return funt0(num + 2)

def funt2(num):
    num = num + 10
    return funt1(num)

c = funt2(2);
print(c)
# 28 출력

In [ ]:
# 291
f = open("매수종목1.txt", mode='wt', encoding='utf-8')

f.write("005930\n\n");
f.write("005380\n\n");
f.write("035420");

f.close();

In [ ]:
# 292
f = open("매수종목2.txt", mode='wt', encoding='utf-8')

f.write("005930 삼성전자\n\n");
f.write("005380 현대차\n\n");
f.write("035420 naver");

f.close();

In [ ]:
# 293
import pandas as pd

row_list1 = ["삼성정자", "005930", "15.79"];
row_list2 = ["NAVER","035420","55.82"];
col_list = ["종목명", "종목코드", "PER"];

df = pd.DataFrame(
                [row_list1, row_list2],
               columns=col_list
)

df.to_csv('매수종목.csv', index=False, encoding='cp949')

In [ ]:
# 294
f = open("매수종목1.txt", mode='rt', encoding='utf-8')

st = f.read();
print(st)

f.close();

In [19]:
# 295
f = open("매수종목2.txt", mode='rt', encoding='utf-8')
dict = {};
st = f.read().split("\n\n");
for i in st:
    arr = i.split(); 
    dict[arr[0]] = arr[1];
print(dict)

f.close();

{'005930': '삼성전자', '005380': '현대차', '035420': 'naver'}

In [ ]:
# 296
per = ["10.31", "", "8.00"];

for i in per:
    try:
        print(float(i));
    except:
        print("0");

In [ ]:
# 297
per = ["10.31", "", "8.00"];

list = [];

for i in per:
    try:
        list.append( float(i) );
    except:
        list.append( 0 );
print(list);

In [5]:
# 298
 
try:
    a = 10/0
    print(a)
except ZeroDivisionError:
    print("ZeroDivisionError 입니다.")

ZeroDivisionError 입니다.

In [ ]:
# 299

data = [1, 2, 3];

for i in range(5):
    try:
        print(data[i]);
    except IndexError as var:
        print(var)

In [ ]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print( float( i ) );
    except:
        print("예외 발생");
    else:
        print("처리 진행중..");
    finally:
        print("처리종료");